In [11]:
import pandas as pd
import sys
sys.path.append("..")

data = pd.read_csv("data.csv", encoding = "ISO-8859--1")

In [13]:
data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [22]:
data.describe()

            Quantity      UnitPrice     CustomerID  TransactionAmount
count  541909.000000  541909.000000  406829.000000      541909.000000
mean        9.552250       4.611114   15287.690570          17.987795
std       218.081158      96.759853    1713.600303         378.810824
min    -80995.000000  -11062.060000   12346.000000     -168469.600000
25%         1.000000       1.250000   13953.000000           3.400000
50%         3.000000       2.080000   15152.000000           9.750000
75%        10.000000       4.130000   16791.000000          17.400000
max     80995.000000   38970.000000   18287.000000      168469.600000

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 9 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   InvoiceNo          541909 non-null  object
 1   StockCode          541909 non-null  object
 2   Description        540455 non-null  object
 3   Quantity           541909 non-null  int64
 4   InvoiceDate        541909 non-null  object
 5   UnitPrice          541909 non-null  float64
 6   CustomerID         406829 non-null  float64
 7   Country            541909 non-null  object
 8   TransactionAmount  541909 non-null  float64
dtypes: float64(3), int64(1), object(5)
memory usage: 37.2+ MB